ppsettings.json
.vscode/
project.lock.json
bin/
obj/
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
#RiderC#
**/.idea
./idea
*.*.iml
**/*.sln
*.sln
**/*.xproj
*.xproj
**/appsettings.Development.json
**/appsettings.Production.json
**/azure.txt
